<title>Customer Persnoal Information</title>
<div class="card my-5">
  <div class="card-body">
     <form (ngSubmit)="OnSubmit()" #loginForm="ngForm">
      <div class="form-group">
      <label for="username">Username</label>
<input type="text"
class="form-control" [(ngModel)]="login.username"
name="username" 
id="username"
required>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="text" [(ngModel)]="login.password"
class="form-control" 
name="password" 
id="password"
required>
</div>
<button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-info">Submit</button>
</form>
</div>
</div>
