<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">FName</th>
          <th scope="col">AGE</th>
          <th scope="col">LNAME</th>
          <th scope="col">MOBILE</th>
          <th scope="col">SALARY</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{ customer.fname }}</td>
          <td>{{ customer.age }}</td>
          <td>{{ customer.lname }}</td>
          <td>{{ customer.mob }}</td>
          <td>{{ customer.salary }}</td>
        </tr>
      </tbody>
    </table>
     <button a routerLink="/logout" class="but1">Logout</button>
  </div>
</div>
